#
# coveragerc to control coverage.py
#

[run]
branch = True
include =
    agg_regrid/*
omit = 
    setup.py
    agg_regrid/tests/*
plugins = Cython.Coverage


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
